.hero {
  height: calc(100vh - var(--nav-height));
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
  grid-template-columns: 1fr 262px;
  grid-column-gap: 30px;

  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

@media only screen and (max-width: 747px) {
  .hero {
    grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
  }
}

.headings {
  display: flex;
  flex-direction: column;
}

.headings > h1 {
  text-align: left;
  font-weight: 600;
  font-size: 46px;
  letter-spacing: 0;
  color: #182333;

  opacity: 1;
  margin-bottom: 20px;
}

.headings > p {
  text-align: left;
  font-size: 22px;
  letter-spacing: 0;
  color: #333333;
  opacity: 1;
  max-width: 545px;
  margin: 0;
}

.img {
  justify-content: center;
  align-items: center;
  display: flex;
}
