.blogs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));

  grid-gap: 24px;
  min-height: 600px;
  align-items: center;
  justify-content: center;
  max-width: 1212px;
  margin: 0 auto;
}

.blog {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blogImg {
  max-width: 100%;
  height: 144px;
  overflow: hidden;
  border-radius: 4px;
}

.blogTitle {
  text-align: left;
  font-size: 20px;
  line-height: 27px;
  color: #394e5d;
  margin-bottom: 10px;
}

.blogExcerpt {
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  color: #182333;
  opacity: 1;
  margin-top: 0;
}

@media only screen and (max-width: 1269px) {
  .blog:last-child {
    display: none;
  }
}

@media only screen and (max-width: 983px) {
  .blog:nth-of-type(3) {
    display: none;
  }
}

@media only screen and (max-width: 697px) {
  .blogs {
    min-height: 550px;
    margin-top: 50px;
  }
}
